body{
    background-color: black;
    color: white;
}
h1{
    color: red;
}
p{
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    color: yellowgreen;
}
footer{
background-color: rgb(0, 38, 255);
}